/* fonts */
export const FontFamily = {
    notoSansBold: "NotoSans-Bold",
    manropeRegular: "Manrope-Regular",
  };
  /* font sizes */
  export const FontSize = {
    size_lg: 18,
    size_smi: 13,
    size_xs: 12,
    size_5xs: 8,
    size_mini: 15,
    size_xl: 20,
    size_mid: 17,
    size_lgi: 19,
    size_2xl: 21,
    size_base: 16,
    size_2xs: 11,
  };
  /* Colors */
  export const Color = {
    colorDimgray_100: "#545c69",
    colorDimgray_200: "#4b5465",
    colorGray_100: "#868686",
    colorGray_200: "#171a1f",
    colorGray_300: "rgba(0, 0, 0, 0)",
    colorWhite: "#fff",
    colorTomato: "#f26848",
    colorOrange: "#ffae00",
    colorSilver: "#bdc1ca",
    colorDarkslategray_100: "#424a5d",
    colorWhitesmoke_100: "#f0f0f0",
    colorMediumseagreen: "#2dcc70",
    colorLightslategray_100: "#9095a1",
    colorCornflowerblue: "#2196f3",
    colorSlategray_100: "#60697a",
    colorSlategray_200: "#5a6577",
    colorSlategray_300: "#596577",
    colorIndianred_100: "#d96557",
    colorIndianred_200: "#d96556",
    colorTan: "#948564",
  };
  /* border radiuses */
  export const Border = {
    br_9xs: 4,
    br_13xl: 32,
    br_10xs: 3,
    br_47xl: 66,
    br_3xl: 22,
    br_19xl: 38,
    br_5xs: 8,
  };
  